# OS / IDE
.DS_Store
.idea/

.cache

cmake-build-*/
build*/

.vscode

src/TestFiles/hits_sample.csv
src/TestFiles/scheme.csv

# Local generated test artifacts
src/TestFiles/*.mf
src/TestFiles/*_output.csv